* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*-- HEADER --*/

header {
    background-color:#1413141c ;
    height: 30vh
    

}

.logo{
    width: 200px;
    position: relative;
    left: 40%;
    right: 50%;

}

.navBar{
    display: flex;
    justify-content: space-evenly;
    font-size: larger;
    font-size: 20px;
    color: black;
    text-decoration: none;
    list-style: none;

}

.navBar ul li a{
    text-decoration: none;
}

.ulPrincipalItem{
    display: inline-block;
    padding: 0.5rem;
    text-decoration: none;
}

.ulSecundarioItem{
    display: inline-block;
    padding: 1rem;
    text-decoration: none;
}
.ulPrincipal{
    position: relative;
    left: 150px;
    bottom: 5px;
    
    
}

.ulSecundario{
    display: flex;
    justify-content: center;

    /*position: relative;
    left: 300px; */
    bottom: 70px;
    margin-right:  50px;

}

.botonInicio{
    position: relative;
    left:900px ;
    bottom: 30px;
}


/*-- MAIN INDEX --*/

.ideaTituloCel{
    font-size: 30px;
    margin: 100px;
}

.ideaGeneral p{
    font-size:30px;
    margin: 50px;
}

.beneficios{
    font-size: 20px;
    margin: 45px;
}

.pasos{
    font-size: 20px;
    margin: 45px;

}

/*-- MAIN INVITACIONES --*/

/*-- main boda --*/

.galeriaBodas{
    font-size:30px;
    margin: 50px;

}
.galeriaBodas div{
    width: 20%;
    margin-top: 20px;
    display: grid;
    gap: 1rem;
    grid-auto-rows: 18rem;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));

}

.card:hover{
    transform: scale(1.2);
}

/*-- FOOTER --*/

footer{
    margin: 10px;
}

.pie{
    
    background-color:#1413141c ;
    display: flex;
    justify-content: space-around;
    align-items: center
    
}
.logoFooter{
    width:200px ;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.redes img{
    width: 50px;
    position: relative;
}

.nosotros ul li{
    text-decoration: none;
    color: black;
    list-style: none;
    font-size: 20px;
    display: flex;
    align-items: flex-start;


}
