@charset "UTF-8";
/*--HEADER--*/
/** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Telugu:wght@300&family=Playfair+Display:wght@500&family=Satisfy&display=swap");
body {
  width: 100%; }

header {
  background-color: white;
  height: 100vh; }

.logo {
  width: 300px;
  height: auto;
  position: relative;
  left: 40%;
  right: 50%;
  margin: 0;
  padding: 0; }

.navBar {
  display: flex;
  justify-content: space-evenly;
  font-size: larger;
  font-size: 28px;
  color: black;
  text-decoration: none;
  list-style: none;
  /*padding-bottom: 100px;*/
  /*ul{

        }
            li {

            }*/ }
  .navBar .ulPrincipal {
    /*position: ;*/
    left: 30px;
    bottom: 50px; }
    .navBar .ulPrincipal .ulPrincipalItem {
      display: inline-block;
      padding: 0.5rem;
      text-decoration: none; }
  .navBar .ulSecundario {
    display: flex;
    justify-content: center;
    bottom: 70px;
    margin-right: 50px; }
    .navBar .ulSecundario .ulSecundarioItem {
      display: inline-block;
      padding: 1rem;
      text-decoration: none; }
  .navBar a {
    text-decoration: none;
    list-style: none; }

/*--MAIN--*/
/** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/
body {
  width: 100%; }

.buscador {
  margin-left: 16px;
  height: 24px;
  width: 260px;
  text-align: center;
  border: none;
  border-radius: 15px; }

/*-- MAIN INDEX --*/
main {
  font-family: 'Noto Serif Telugu', serif;
  background-color: rgba(238, 169, 169, 0.642);
  padding-top: 10px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px; }

.tituloPpal {
  display: flex;
  justify-items: center; }

.ideaTituloCel {
  font-size: 30px;
  margin: 30px; }

.ideaGeneral p {
  font-size: 30px;
  /*margin: $tamanio-px * 5;*/
  display: flex;
  flex-direction: row; }
  .ideaGeneral p .ideaTituloCel {
    font-size: 30px;
    margin: 30px; }
    .ideaGeneral p .ideaTituloCel .tituloPpal {
      display: flex;
      flex-direction: row; }
      .ideaGeneral p .ideaTituloCel .tituloPpal h1 {
        display: flex;
        justify-items: center; }
      .ideaGeneral p .ideaTituloCel .tituloPpal div img {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap; }
    .ideaGeneral p .ideaTituloCel .imagenesCelu {
      /*margin-left: $tamanio-px * 30;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;*/ }

.beneficios {
  font-size: 20px;
  margin: 45px; }

.pasos {
  font-size: 20px;
  margin: 45px; }

/*-- MAIN BODAS --*/
.inviBodas {
  display: flex;
  justify-content: center;
  font-size: 40px;
  margin-bottom: 20px; }

/*--galeria Bodas--*/
.galeriaBodas .card:hover {
  transform: scale(1.2); }

.buybutton, .formbutton, .clearbutton {
  font-family: Oswald, sans-serif;
  font-size: 16px;
  border-style: solid;
  color: white;
  background-color: #eb91f5;
  border-color: #dd48eef2;
  border-radius: 16px;
  padding: 0px 8px 0px 8px;
  height: 32px;
  margin-bottom: 24px;
  margin-top: 20px; }

.clearbutton {
  margin-bottom: 10px; }

.carritofloat {
  width: 300px;
  bottom: 40px;
  right: 20px;
  margin-top: 30px; }

.carritotestbutton {
  width: 60px;
  bottom: 40px;
  right: 340px; }

.carritofloat div div {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #eb91f5;
  border-color: #de48ee;
  text-align: center; }

.carritofloat div div h3 {
  padding-top: 8px;
  padding-bottom: 10px;
  color: #ffffff;
  text-shadow: 2px 2px #000000; }

.carritofloat div nav {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: #ffffff;
  border-color: #ffffff; }

.carritofloat div nav h4 {
  padding: 18px 0px 20px 20px; }

.formbutton {
  margin: 12px 0px 12px 0px; }

.item {
  margin: 0px 24px 56px 24px;
  padding: 12px 12px 0px 12px;
  background-color: white;
  border-radius: 15px; }

#place_holder {
  top: 8px;
  left: 8px; }

.productos {
  margin-top: 24px;
  margin-bottom: -12px; }

.searchbutton {
  height: 24px;
  width: 24px; }

.shownav {
  display: block; }

.hidenav {
  display: none; }

/*-- MAIN REGISTRARSE --*/
.tituloRegistrarse {
  display: flex;
  justify-content: center;
  font-size: 40px;
  margin-bottom: 20px; }

#truco {
  opacity: 0; }

/*--formulario de registro--*/
.formulario {
  background-color: #cbadad;
  border-radius: 3px, solid black;
  color: #383838;
  padding: 10px;
  margin: 0 auto;
  width: 500px; }
  .formulario p {
    margin-top: 10px; }
  .formulario input {
    border: 0;
    outline: none;
    border-radius: 2px;
    display: flex;
    justify-content: center; }
    .formulario input .formControl {
      border: solid 1px #768282;
      padding: 8px;
      margin-top: 6px;
      width: 470px; }
      .formulario input .formControl focus {
        border-color: #1413141c; }

/*-- MAIN CELEBRACIONES --*/
.inviCelebraciones {
  display: flex;
  justify-content: center;
  font-size: 40px;
  margin-bottom: 20px; }

/*--galeria Celebraciones--*/
.galeriaCelebraciones .card:hover {
  transform: scale(1.2); }

/*-- MAIN CUMPLEAÑOS --*/
.inviCumple {
  display: flex;
  justify-content: center;
  font-size: 40px;
  margin-bottom: 20px; }

/*--galeria Cumpleaños--*/
.galeriaCumpleaños .card:hover {
  transform: scale(1.2); }

/*-- MAIN NOSOTROS --*/
.tituloNosotros {
  display: flex;
  justify-content: center;
  font-size: 40px;
  margin-bottom: 20px; }

.nos {
  /*margin: 0 auto;*/
  width: calc-container;
  font-size: 20px;
  margin-left: 20px;
  font-weight: 900; }
  .nos:after {
    clear: both;
    content: '';
    display: block; }
  .nos section {
    float: left;
    margin: 0 calc-gutter(20px);
    width: calc-col(4); }
  .nos aside {
    float: left;
    margin: 0 calc-gutter(20px);
    width: calc-col(2); }

/*-- MAIN PLANES --*/
.tituloPlanes {
  display: flex;
  justify-content: center;
  font-size: 40px;
  margin-bottom: 20px; }

/*.tiposPlanes{
    ul{
        h2{

        }
        li{

        }
    }
}*/
/*-- MAIN SOCIALES --*/
.inviSociales {
  display: flex;
  justify-content: center;
  font-size: 40px;
  margin-bottom: 20px; }

/*--galeria sociales--*/
.galeriaSociales .card:hover {
  transform: scale(1.2); }

/*-- FOOTER --*/
/** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/
body {
  width: 100%;
  height: 100vh; }

.pie {
  /*width: 100%;*/
  height: auto;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding-top: 30px; }
  .pie .logoFooter {
    width: 200px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px; }
  .pie .nosotros h3 {
    margin-left: 20px;
    margin-top: 20px; }
    .pie .nosotros h3 a {
      text-decoration: none;
      color: black;
      list-style: none;
      font-size: 20px;
      display: flex;
      align-items: flex-start;
      margin-left: 100px; }
  .pie .nosotros ul li {
    margin-left: 100px; }
    .pie .nosotros ul li a {
      text-decoration: none;
      color: black;
      list-style: none;
      font-size: 20px;
      display: flex;
      align-items: flex-start; }
  .pie .redes {
    width: 100%;
    height: auto; }
    .pie .redes h3 {
      font-size: 20px;
      margin-left: 100px; }
    .pie .redes a {
      width: 100%;
      height: auto;
      text-decoration: none;
      color: black;
      margin-left: 100px;
      /*display: flex;
            justify-content: space-between;
            align-items: center;*/ }
      .pie .redes a img {
        width: 50px;
        height: auto; }

/*--MEDIA QUERIES--*/
@media (max-width: 1300px) and (min-width: 200px) {
  /* body{
        margin: 0%;
    }
    main{
        padding-top: 2px;
    }*/ }

@media screen and (max-width: 1480px) {
  header {
    height: 300px; } }

@media screen and (max-width: 1280px) {
  .ulPrincipal {
    font-size: 18px; }
  .ulSecundario {
    font-size: 18px;
    margin: 20px; } }

@media screen and (max-width: 830px) {
  .navBar {
    padding: 30px; } }

@media screen and (max-width: 790px) {
  /*footer{
        width: 100%;
    }*/ }

@media screen and (max-width: 786px) {
  .navBar {
    font-size: 20px; } }

@media screen and (max-width: 744px) {
  body {
    width: 100%;
    overflow: auto; }
  main {
    margin: 0;
    width: 100%; }
  .redes img {
    display: flex;
    flex-direction: column; } }

@media screen and (max-width: 470px) {
  header {
    padding-bottom: 20px; }
  footer {
    width: 100%;
    padding: 0;
    image-resolution: 0; } }
