/*--MAIN--*/
/** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/


/*-- MAIN INDEX --*/
main{
    font-family: 'Noto Serif Telugu', serif;
    background-color: $color-main;
    /*padding-top: $tamanio-px * 4;*/
    padding-bottom: $tamanio-px * 3;
    padding-left: $tamanio-px * 3;
    padding-right: $tamanio-px * 3;
}
.tituloPpal{
    display: flex;
    justify-items: center;
}
.ideaTituloCel{
    font-size: $tamanio-px * 3;
    margin: $tamanio-px * 10;
}


.ideaGeneral p{
    font-size:$tamanio-px * 3;
    /*margin: $tamanio-px * 5;*/
    display: flex;
    flex-direction: row;
    .ideaTituloCel{
        font-size: $tamanio-px * 3;
        margin: $tamanio-px * 10;
        .tituloPpal{
            display: flex;
            flex-direction: row;
            h1{
                display: flex;
                justify-items: center;    
            }

        }
        .imagenesCelu{
            margin-left: $tamanio-px * 30;
            display: flex;
            justify-content: center;
        }
    }
    
}

.beneficios{
    font-size: $tamanio-px * 2;
    margin: $tamanio-px * 4.5;
}

.pasos{
    font-size: $tamanio-px * 2;
    margin: $tamanio-px * 4.5;

}


/*-- MAIN BODAS --*/

.inviBodas{
    display: flex;
    justify-content: center;
    font-size: $tamanio-px * 4;
    margin-bottom: $tamanio-px * 2;

}


/*--galeria Bodas--*/
.galeriaBodas{
    .card{
        
        &:hover{
            transform: scale(1.2);
        }
    
        
    }
}


/*-- MAIN REGISTRARSE --*/
.tituloRegistrarse{
    display: flex;
    justify-content: center;
    font-size: $tamanio-px * 4;
    margin-bottom: $tamanio-px * 2;
}
/*--formulario de registro--*/
.formulario{
    background-color: rgb(203, 173, 173);
    border-radius: 3px, solid black;
    color: rgb(56, 56, 56);
    padding: $tamanio-px;
    margin: 0 auto;
    width: $tamanio-px * 50;
    p{
        margin-top: $tamanio-px;
    }
    input{
        border: 0;
        outline: none;
        border-radius: 2px;
        display: flex;
        justify-content: center;
        .formControl{
            border: solid 1px rgb(118, 130, 130);
            padding: 8px;
            margin-top: 6px;
            width: $tamanio-px * 47;
            focus{
                border-color: #1413141c;
            }
        }
        
    }
        
    
}


/*-- MAIN CELEBRACIONES --*/
.inviCelebraciones{
    display: flex;
    justify-content: center;
    font-size: $tamanio-px * 4;
    margin-bottom: $tamanio-px * 2;
}
/*--galeria Celebraciones--*/
.galeriaCelebraciones{
    .card{
        &:hover{
            transform: scale(1.2);
        }
    
        
    }
}

/*-- MAIN CUMPLEAÑOS --*/
.inviCumple{
    display: flex;
    justify-content: center;
    font-size: $tamanio-px * 4;
    margin-bottom: $tamanio-px * 2;
}
/*--galeria Cumpleaños--*/
.galeriaCumpleaños{
    .card{
        &:hover{
            transform: scale(1.2);
        }
    
        
    }
}

/*-- MAIN NOSOTROS --*/
.tituloNosotros{
    display: flex;
    justify-content: center;
    font-size: $tamanio-px * 4;
    margin-bottom: $tamanio-px * 2;
    
}

.nos {
    /*margin: 0 auto;*/
    width: calc-container ();
    font-size: $tamanio-px * 2;
    margin-left: $tamanio-px * 2;
    font-weight: 900;


    &:after {
        clear: both;
        content: '';
        display: block;
    }

    section {
        float: left;
        margin: 0 calc-gutter(map-get($grid, margen));
        width: calc-col(4);
    }
    
    aside {
        float: left;
        margin: 0 calc-gutter(map-get($grid, margen));
        width: calc-col(2);
    
    }
}






/*-- MAIN PLANES --*/
.tituloPlanes{
    display: flex;
    justify-content: center;
    font-size: $tamanio-px * 4;
    margin-bottom: $tamanio-px * 2;
}
/*.tiposPlanes{
    ul{
        h2{

        }
        li{

        }
    }
}*/
/*-- MAIN SOCIALES --*/
.inviSociales{
    display: flex;
    justify-content: center;
    font-size: $tamanio-px * 4;
    margin-bottom: $tamanio-px * 2;
}

/*--galeria sociales--*/
.galeriaSociales{
    .card{
        &:hover{
            transform: scale(1.2);
        }
    
        
    }
}
