/*--MAIN--*/
/** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/
body{
    width: 100%;
}
//header
.buscador {
    margin-left: 16px;
    height: 24px;
    width: 260px;
    text-align: center;
    border: none;
    border-radius: 15px;
}
/*-- MAIN INDEX --*/
main{
    font-family: 'Noto Serif Telugu', serif;
    background-color: $color-main;
    padding-top: $tamanio-px ;
    padding-bottom: $tamanio-px * 3;
    padding-left: $tamanio-px * 3;
    padding-right: $tamanio-px * 3;
}
.tituloPpal{
    display: flex;
    justify-items: center;
}
.ideaTituloCel{
    font-size: $tamanio-px * 3;
    margin: $tamanio-px * 3;
}



.ideaGeneral p{
    font-size:$tamanio-px * 3;
    /*margin: $tamanio-px * 5;*/
    display: flex;
    flex-direction: row;
    .ideaTituloCel{
        font-size: $tamanio-px * 3;
        margin: $tamanio-px * 3;
        .tituloPpal{
            display: flex;
            flex-direction: row;
            h1{
                display: flex;
                justify-items: center;    
            }
            div{
                img{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;
        
                }
            }

        }
        .imagenesCelu {
            /*margin-left: $tamanio-px * 30;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;*/
        }
    }
    
}

.beneficios{
    font-size: $tamanio-px * 2;
    margin: $tamanio-px * 4.5;
}

.pasos{
    font-size: $tamanio-px * 2;
    margin: $tamanio-px * 4.5;

}


/*-- MAIN BODAS --*/

.inviBodas{
    display: flex;
    justify-content: center;
    font-size: $tamanio-px * 4;
    margin-bottom: $tamanio-px * 2;

}


/*--galeria Bodas--*/
.galeriaBodas{
    .card{
        
        &:hover{
            transform: scale(1.2);
        }
        
    }
    
}
.buybutton, .formbutton, .clearbutton {
    font-family: Oswald, sans-serif;
    font-size: 16px;
    border-style: solid;
    color: white;
    background-color: #eb91f5;
    border-color: #dd48eef2;
    border-radius: 16px;
    padding: 0px 8px 0px 8px;
    height: 32px;
    margin-bottom: 24px;
    margin-top: 20px;
}
.clearbutton{
    margin-bottom: 10px;
}

.carritofloat{
    width: 300px;
    bottom: 40px;
    right: 20px;
    margin-top: 30px;
}

.carritotestbutton{
    width: 60px;
    bottom: 40px;
    right: 340px;

}

.carritofloat div div{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #eb91f5;
    border-color: #de48ee;
    text-align: center;
}

.carritofloat div div h3{
    padding-top: 8px;
    padding-bottom: 10px;
    color: #ffffff;
    text-shadow: 2px 2px #000000;
}

.carritofloat div nav{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: #ffffff;
    border-color: #ffffff;
}

.carritofloat div nav h4{
    padding: 18px 0px 20px 20px;
}

.formbutton {
    margin: 12px 0px 12px 0px;
}
.item {
    margin: 0px 24px 56px 24px;
    padding: 12px 12px 0px 12px;
    background-color: white;
    border-radius: 15px;
}

#place_holder{
    top: 8px;
    left: 8px;
}

.productos {
    margin-top: 24px;
    margin-bottom: -12px;
}

.searchbutton {
    height: 24px;
    width: 24px;
}

.shownav{
    display: block;
}

.hidenav{
    display: none;
}



/*-- MAIN REGISTRARSE --*/
.tituloRegistrarse{
    display: flex;
    justify-content: center;
    font-size: $tamanio-px * 4;
    margin-bottom: $tamanio-px * 2;
}

#truco{
    opacity: 0;
}
/*--formulario de registro--*/
.formulario{
    background-color: rgb(203, 173, 173);
    border-radius: 3px, solid black;
    color: rgb(56, 56, 56);
    padding: $tamanio-px;
    margin: 0 auto;
    width: $tamanio-px * 50;
    p{
        margin-top: $tamanio-px;
    }
    input{
        border: 0;
        outline: none;
        border-radius: 2px;
        display: flex;
        justify-content: center;
        .formControl{
            border: solid 1px rgb(118, 130, 130);
            padding: 8px;
            margin-top: 6px;
            width: $tamanio-px * 47;
            focus{
                border-color: #1413141c;
            }
        }
        
    }
        
    
}


/*-- MAIN CELEBRACIONES --*/
.inviCelebraciones{
    display: flex;
    justify-content: center;
    font-size: $tamanio-px * 4;
    margin-bottom: $tamanio-px * 2;
}
/*--galeria Celebraciones--*/
.galeriaCelebraciones{
    .card{
        &:hover{
            transform: scale(1.2);
        }
    
        
    }
}

/*-- MAIN CUMPLEAÑOS --*/
.inviCumple{
    display: flex;
    justify-content: center;
    font-size: $tamanio-px * 4;
    margin-bottom: $tamanio-px * 2;
}
/*--galeria Cumpleaños--*/
.galeriaCumpleaños{
    .card{
        &:hover{
            transform: scale(1.2);
        }
    
        
    }
}

/*-- MAIN NOSOTROS --*/
.tituloNosotros{
    display: flex;
    justify-content: center;
    font-size: $tamanio-px * 4;
    margin-bottom: $tamanio-px * 2;
    
}

.nos {
    /*margin: 0 auto;*/
    width: calc-container ();
    font-size: $tamanio-px * 2;
    margin-left: $tamanio-px * 2;
    font-weight: 900;


    &:after {
        clear: both;
        content: '';
        display: block;
    }

    section {
        float: left;
        margin: 0 calc-gutter(map-get($grid, margen));
        width: calc-col(4);
    }
    
    aside {
        float: left;
        margin: 0 calc-gutter(map-get($grid, margen));
        width: calc-col(2);
    
    }
}






/*-- MAIN PLANES --*/
.tituloPlanes{
    display: flex;
    justify-content: center;
    font-size: $tamanio-px * 4;
    margin-bottom: $tamanio-px * 2;
}
/*.tiposPlanes{
    ul{
        h2{

        }
        li{

        }
    }
}*/
/*-- MAIN SOCIALES --*/
.inviSociales{
    display: flex;
    justify-content: center;
    font-size: $tamanio-px * 4;
    margin-bottom: $tamanio-px * 2;
}

/*--galeria sociales--*/
.galeriaSociales{
    .card{
        &:hover{
            transform: scale(1.2);
        }
    
        
    }
}
