/*--MEDIA QUERIES--*/
@media screen and (max-width: 1200px){
    .ulPrincipal{
        font-size: 18px;
        
    }
    
    .ulSecundario{
        font-size: 18px;
        margin: 15px;
    
    }

}


@media (max-width: 1300px) and (min-width: 200px){
    body{
        margin:auto
    }
}


@media screen and (max-width: 1200px){
    .ulSecundario{
        font-size: 18px;
        margin: 20px;
    
    }
}

@media screen and (max-width: 830px){
    .ulPrincipalItem{
    padding: 0.2rem;
    }
}


@media screen and (max-width: 790px){
    footer{
        width: 100%;
    }
}



@media screen and (max-width: 786px){
    .ulSecundario{
        font-size: 18px;
        margin: 10px;
    
    }
}

@media screen and (max-width: 762px){
    .redes img{
        display: flex;
        flex-direction: column;
    }
    
}

@media screen and (max-width: 470px){
    footer{
        width: 100%;
        padding: 0;
        image-resolution: 0;
    }
}